/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}


blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*******************reset*************/

/* #container
{
  background: white;
  color: black;
} */



body
{ 
  margin: auto;
  font-family: Helvetica;
  width: 768px;
  position: relative;
  /* border: 3px #000000 solid; */

}



header
{
  margin-top: 50px;
  margin-bottom: 50px;
}


@media only screen and (min-width: 768px) 
{

  #bpk, #items
  {
    width: 60%;
  }

  #bpk img
  {
    width: 384px;
    margin-left: 7%;
  }

  #fourseven
  {
    left: 98%;
  }

    @keyframes keychainmove
  {
    from 
    {
      left: 50%
    }
    
    to 
    {
      left: 98%
    }
  }

}



@media only screen and (max-width: 768px) 
{

  #bpk, #items
  {
    width: 40%;
  }

  #bpk img
  {
    width: 294px;
    margin: auto;
  }

  #fourseven
  {
    left: 110%;
  }
  @keyframes keychainmove
  {
    from 
    {
      left: 50%
    }
    
    to 
    {
      left: 110%
    }
  }

}


#bpk, #items
{
  margin: auto;
  clear: both;
  position: relative;
  /* border: 3px #000000 solid; */
}

#bpk img
{

  
  display: block;
  
  
}

#bpki
{
  transition: opacity 1s ease-in-out;
}

#bpk a
{
    
    text-decoration: none;
    color: white;
    
    z-index: 0;
    display: block;
    
    
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    
    position: absolute;

    
    transition-duration: 0.3s;
    
    transition-property: transform;
    
    
}

#bpk a:before {
    

    
    
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.8) 0%, transparent 80%);
    /* W3C */
    
    transition-duration: 0.3s;
    
    transition-property: transform, opacity;
  }
#bpk a:hover
{
    
    transform: translateY(-20px);
}

#bpk a:hover:before
{

    transform: translateY(20px) scale(0.75);
    
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


#displayarea img
{
  display: block;
  z-index: 0;
  transform: translateX(-50%);
}


#displayarea
{
  display: block;
  position: relative;
  margin-top: 50px;
  
}


#mbp
{
  left: 20%;
  top: 34%;
  animation-name: mbpmove;
  animation-duration: 3s;
  
}
#mbpi
{
  width: 284px;
}
#ipp
{
  left: 70%;
  margin-top: 98px;
  animation-name: ippmove;
  animation-duration: 3s;
}

#ippi
{
  width: 220px;
}

#fourseven
{
  
  margin-top: 308px;
  animation-name: keychainmove;
  animation-duration: 3s;
}

#fourseveni
{
  width: 60px;
}



#items a
{
    
    text-decoration: none;
    color: white;
    display: block;
   
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: absolute;
   
    transition-duration: 0.3s;
   
    transition-property: transform;

}

#items a:hover
{   
    
    
    transform: translateY(-30px);
}

#items a:hover:before
{
    transform: translateY(30px) scale(0.75);
   
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}



#textarea
{
  width: 100%;
  background: black;
  color: white;
  /* margin-top: -100px; */
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  opacity: 0.95;
}

#textarea p
{
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 15px;
  
}

#textarea img
{
  width: 100%;
  display: inline-block;
  clear: both;


}


.close
{
  display: block;
  text-align: right;
  padding-right: 10px;
  font-size: 40px;
}




@keyframes mbpmove
{
  from 
  {
    left: 50%
  }
  
  to 
  {
    left: 20%
  }
}

@keyframes ippmove
{
  from {left: 50%}
  
  to {left: 70%}
}




h1
{
  
  display: block;
  text-align: center;
  margin: auto;
  font-size: 30px;
}



.transparent 
{
  opacity:0;
}


.show
{
  display: block;
}

.hide
{ 
  display: none;
}


.firstColor{
  color: white;
  background-color: #000000;
  transition: all 1s ease;
  }
  
  .secondColor{
    color: black;
  background-color: #FFFFFF;
  transition: all 2s ease;
  }
  

footer
{
  display: block;
  left: 30%;
  top: 800px;
  position: absolute;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  font-size: 20px;
  clear: both;
  
}

.footera
{
  /* color: black; */
  color: white;
}