


p {
font-size: 0.85em
}
html{
background: #ececec;
width:100vw;
}
body{
background: white;
display: flex;
justify-content: flex-start;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
margin: 0;
font-family: sans-serif;

}

#text-buttons
{
    width: 90%;
    margin: auto;
}

#text-buttons h1
{
    margin-bottom: -10px;
    color: #0198D9;
}

#text-buttons p
{
    color: rgb(142, 142, 142);
}

#ford
{
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-bottom: -3px;
}

#instructions
{
    display: inline-block;
    margin-top: 5px;
    
    color: #0198D9;
    line-height: 15px;
    
}

#storysec
{
    font-size: 10px;
    margin-top: -12px;
    cursor: pointer;
}

#addMyStory
{
    color: #0198D9;
    /* width: 108px; */
    border-radius: 4px;
    border: #0198D9 2px solid;
    padding: 4px;
    display: inline-block;

}

.stories
{
    color: #0198D9;
    /* width: 108px; */
    border-radius: 4px;
    border: #0198D9 2px solid;
    padding: 4px;
    display: inline-block;
}


svg {
background: transparent;
/*display: flex;*/
/*padding-top: 60px;*/
/*border-top: 4px solid black;*/
}
.country {
fill: #0198D9;
stroke:#ececec;
stroke-width: 0.5px;

}
.airport {
fill: white;
stroke: #6cb0e0;
stroke-width: 0.5;
stroke-linecap: round;
stroke-linejoin: round;
vector-effect: non-scaling-stroke;
}

.plane
{
    fill: red;
    
}

.route{
stroke: #FFFFFF;
stroke-width:0.8;
}
.routeS{
stroke: rgb(180, 80, 80);
stroke-width:1;
}

.countrydetails{
white-space: nowrap;
font-size: 14px;
font-weight: bold;
margin-top: 10px;
display: flex;
justify-content: left;
fill: white;
font-family: 'Robo Slab', helvetica;
order: -1;
margin-left: 20px;
}
.clock{
font-weight: bold;
color: black;
font-family: helvetica;
padding:4px;
}
.play{
cursor:pointer;
font-weight: bold;
color:white;
order: -2;
background: black;
border: 3px solid white;
border-radius: 5px;
width: 60px;
height: 25px;
margin: 5px;
}
.speed{
font-weight: bold;
color: black;
order: -2;
font-family: helvetica;
padding: 4px;
}
.map
{
    width: 100%;
    height: 100%;
}

.rect-g-map{
fill: #ececec;
}

.time-speed{
display: block;

margin: auto;



}
.instructions{
width: 650px;
color: white;
font-weight: bold;
font-family: 'Robo Slab', helvetica;
margin-top: 40px;
margin-right: 40px;
text-align: center;
}
.links{
display: flex;
justify-content: flex-end;
}
a{
margin-right: 10px;
margin-top: 20px;
}
/* a:link {
color: white;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: white;
} */

.buttons-links{
margin-right: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.buttons
{   
    width: 300px;
    margin: auto;
}

footer
{
    margin-left: 20px;
    color: black;
}

footer a 
{
    color: #0198D9;
}



#inputSec
{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #0198D9;
    background: rgba(255, 255, 255, 0.8);
    
}

#inputSec1
{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #0198D9;
    background: rgba(255, 255, 255, 0.8);
    
}

.close 
{
    position: absolute;
    top: 70px;
    right: 40px;
    color: #0198D9;
    font-size: 50px;
    cursor: pointer;
}

#ttitle
{
    
    font-size: 50px;
    font-weight: 200;
    width: 340px;
    margin: auto;
    margin-top: 13%;
    margin-bottom: 20px;
}

#inputs
{
    margin: auto;
    width: 30%;
}

#displaySec
{
    margin: auto;
    width: 50%;
    margin-top: 30%;
}

em
{   
    font-style: normal;
    color: rgb(142, 142, 142);
}


label, input, textarea
{
    width: 100%;
    border: 0px;
    color: #0198D9;
}

label
{
    font-size: 30px;
    font-weight: 300;
}

input, textarea
{   
    border-radius: 4px;
    border: #0198D9 1px solid;
    font-size: 20px;
    line-height: 30px;
}


#story
{
    height: 200px;
    margin-bottom: 20px;
}

#buttons
{
  margin: auto;
  width: 180px;
}




input[type="submit"],
input[type="reset"] 
{

    color: #0198D9;
  width: auto;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2%;
  padding: 10px;
  cursor: pointer;

}


.show
{
  display: block;
}


.hide
{
  display: none;
}